---
---

body {
}

.main {
    width: 40%;
    min-width: 950px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: brighten(beige, 5%);
}

pre {
    white-space: pre-wrap;
}

a {
    color: color-mix(orange, black 25%);
    text-decoration: none;
}

//links
.nav {
    color: inherit;
    text-decoration: none;
}

.depressed-box {
    background-color: beige;
    border-color: brighten(beige, 2%);
    border-radius: 15px;
    box-shadow: -3px -3px 2px beige;
}

.tab-content {
    display: none;
    background-color: beige;
    border-color: brighten(beige, 2%);
    border-radius: 15px;
    box-shadow: -3px -3px 2px beige;
}

.bibtex {
    display: none;
    background-color: beige;
    border-color: brighten(beige, 20%);
    border-radius: 15px;
    box-shadow: -3px -3px 2px beige;
}

.article {
    padding: 10px;
    background-color: color-mix(beige, black 15%);
    border-color: brighten(beige, 2%);
    border-radius: 15px;
    box-shadow: -3px -3px 2px beige;
    flex: 1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-split {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 20px;
    padding: 25px;
}

.date-list {
    background-color: color-mix(beige, black 15%);
    border-radius: 15px;
}

.date {
    background-color: color-mix(beige, black 5%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#split {
    display: flex;
    columns-gap: 5px;
    min-height: 250px;
}

.subbox {
    margin: 10px;
    padding-right: 5px;
    padding-left: 5px;
    flex-basis: 30%;
}

.menu {
    display: flex;
}

.icon {
    flex-grow: 1;
    text-align: center;
}

.button {
    flex-grow: 1;
    text-align: center;
    border-radius: 15px;
    background-color: color-mix(beige, black 15%);
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button input {
    display: none;
}

.button:has(input:checked) {
    background-color: orange;
}

.bibtex-button {
    text-align: center;
    border-radius: 10px;
    background-color: color-mix(beige, black 5%);
    padding: 7px;
}

.bibtex-button input {
    display: none;
}

.bibtex-button:has(input:checked) {
    background-color: color-mix(orange, black 10%);
}

.bibtex-button:has(input:checked) > .fa-caret-right {
    rotate: 90deg;
}

// .bibtex-container:has

// use https://codepen.io/ptb/pen/kaWjeL to make pretty borders

#self {
    margin-right: 5px;
    border-right: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-item: center;
}

#pic {
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 1px solid black;
    padding-left: 10px;
    margin-right: 10px;
}

#selector {
    margin-top: 20px;
    padding-bottom: 15px;
}

{% if site.data.subpages.subsections %}
{% for item in site.data.subpages.subsections %}
.main:has(#{{item.name}}-toggle:checked) #{{item.name}}-content {
    display: block;
}

{% endfor %}
{% endif %}

{% if site.data.publications.published %}
{% for item in site.data.publications.published %}
.article:has(#bibtex-{{ item.id }}-toggle:checked) #bibtex-{{ item.id }}-content {
    display: block;
}

{% endfor %}
{% endif %}
